*.zip
*.gz
.DS_Store
Thumbs.db

prepros.cfg
advanced-cache.php
object-cache.php
wp-cache-config.php
cache/*

*/node_modules/*
themes/ultravulture/node_modules/*
themes/ultravulture_t16/node_modules/*

sc-config/*
plugins/*
upgrade/*
uploads/*

themes/*
!themes/ultravulture/
!themes/ultravulture_t16/

mu-plugins/wp-migrate-db-pro-compatibility.php